html {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffcb03;
  letter-spacing: 4px;
  background: url("./components/mobilebackground.jpg") no-repeat center center
    fixed;
  background-size: cover;
}
@media (min-width: 720px) {
  html {
    background: url("./components/template.png") no-repeat center center fixed;
    background-size: cover;
  }
}

.appearence-appear {
  opacity: 0;
}

.appearence-appear-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.appearence-enter {
  opacity: 0;
}

.appearence-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.appearence-enter-done {
  opacity: 1;
}
.appearence-exit {
  opacity: 1;
}

.appearence-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

.appearence-exit-done {
  opacity: 0;
}
